<%# Formulario para agregar un nuevo producto %>
<%# esto es una ruta , es una ruta relativa  %>
<%# toma lo que es la accion, el metodo edith y seguido lo que estamos llamando %>
<h2> <%= t(".title") %></h2>

<%= render "form" %>